* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 5000px;
}

.fodao {
    background-color: aqua;
    text-align: center;
}

.peidao {
    background-color: brown;
    text-align: end;
}